<form
  [formGroup]="loginForm"
  (ngSubmit)="$event.preventDefault(); signIn()"
>
  <mat-form-field class="form-field">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="senderEmail"
      required
    />
    @if (loginForm.get('senderEmail')?.invalid) {
    <mat-error>{{ getErrorMessage("senderEmail") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-field mb-3">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="some secure password"
      formControlName="senderPassword"
      required
      [type]="hide ? 'password' : 'text'"
    />
    <button
      class="password-hide-icon"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (loginForm.get('senderPassword')?.invalid) {
    <mat-error>
      {{ getErrorMessage("senderPassword") }}
    </mat-error>
    }
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button mat-raised-button color="primary">Sign in</button>
  </div>
</form>
