<div class="execution-facts-container">
  <div class="execution-facts-filter">
    <execution-facts-filter
      [defaultLoadParameters]="defaultLoadParameters"
      (filterChanged)="filters = $event"
      (stateFilterChanged)="stateFilter = $event"
    ></execution-facts-filter>
  </div>
  <mat-divider></mat-divider>
  <div class="execution-fact-list">
    <execution-facts-list
      [executionFacts]="executionFacts"
      [userAllowedToChangeFacts]="userAllowedToChangeFacts"
    ></execution-facts-list>
  </div>
  <mat-divider></mat-divider>
  <div class="record-execution-fact">
    <record-execution-fact></record-execution-fact>
  </div>
</div>
