<div class="template-item-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <ng-scrollbar>{{ template.name }}</ng-scrollbar>
        <mat-card-subtitle
          ><ng-scrollbar>{{
            template.description
          }}</ng-scrollbar></mat-card-subtitle
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="template-update-section">
        <form [formGroup]="updateTemplateForm">
          <div>
            <mat-form-field>
              <mat-label>Enter new template name</mat-label>
              <input
                matInput
                [placeholder]="template.name"
                formControlName="senderTemplateName"
              />
              @if (updateTemplateForm.get('senderTemplateName')?.invalid) {
              <mat-error>{{ getErrorMessage("senderTemplateName") }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Enter new description</mat-label>
              <textarea
                matInput
                [placeholder]="template.description"
                formControlName="senderTemplateDescription"
              ></textarea>
              @if (updateTemplateForm.get('senderTemplateDescription')?.invalid)
              {
              <mat-error>{{
                getErrorMessage("senderTemplateDescription")
              }}</mat-error>
              }
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="template-action"
        type="button"
        mat-raised-button
        color="accent"
        (click)="updateTemplate()"
      >
        Update
      </button>
      <button
        class="template-action"
        type="button"
        mat-raised-button
        color="warn"
        (click)="deleteTemplate()"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
