.execution-fact-list-container {
  min-height: 100%;
}

.execution-fact-items {
  flex-grow: 1;
  max-height: 74vh;
  overflow: auto;
  padding-right: 10px;
}

.execution-fact-item {
  margin-top: 10px;
}

