<div class="templates-container">
  <div class="templates-header">
    <templates-filter
      [numberOfTemplates]="numberOfTemplates"
      [defaultPage]="page"
      (filtersChange)="filters = $event"
      (pageChange)="loadNewPage($event)"
    ></templates-filter>
  </div>
  <mat-divider></mat-divider>
  <div class="templates-content">
    <templates-list [templates]="templates"></templates-list>
  </div>
  <div class="templates-footer">
    <create-template></create-template>
  </div>
</div>
