<div class="templates-filter-container">
  <div class="name-filter">
    <mat-form-field>
      <mat-label>Enter template name</mat-label>
      <input matInput [formControl]="senderTemplateName" />
      @if (senderTemplateName.invalid) {
      <mat-error>Maximal length is 100</mat-error>
      }
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="senderTemplateName.setValue('')"
        [attr.aria-label]="'Clear description'"
        [attr.aria-pressed]="false"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <div class="name-filter-actions">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="updateFilters(); emitFilters()"
      >
        Search
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="clearFilters(); emitFilters()"
        [color]="activeFilters.length !== 0 ? 'accent' : 'primary'"
      >
        Clear
      </button>
    </div>
  </div>
  <div>
    <mat-paginator
      (page)="pageChange.emit($event)"
      [pageSize]="defaultPage.pageSize"
      [pageIndex]="defaultPage.pageIndex"
      [length]="numberOfTemplates"
      class="paginator"
    ></mat-paginator>
  </div>
</div>
